<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @RenderSection("AdditionalMeta", false)

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>@ViewBag.Title - Bridgebooks LLC</title>

    @Styles.Render("~/Content/css/allstyles")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">

        <nav>
            <div class="company-logo">
                <span></span>
                <a href="/">Bridge Books</a>
            </div>
            @Html.Partial("~/Views/Shared/_Menu.cshtml")
        </nav>

        <main>
            @RenderBody()
        </main>

        <footer>
            <div class="social">
                Follow Us
                <a href="https://www.facebook.com/bridgebooksllc/" target="_blank" title="Facebook">
                    <i class="fab fa-facebook"><span class="social-anchortext">Facebook</span></i>
                </a>
            </div>

            <div class="copyright">
                <p>&copy; @DateTime.Now.Year Bridge Books LLC | Created by Bill Adams</p>
            </div>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <script>
        $('.hamburger').click(function () {
            $(this).toggleClass('is-active');

            $('nav ul').toggleClass('show-mobile-nav');
        });
    </script>
</body>
</html>
